.btn {
    @include flex-box(center, center);

    // height: 53px;
    padding: 14px 18px;


    background-color: $accent;

    @include btnMid;
    color: $white;
    text-decoration: none;

    border: 2px solid $accent;
    border-radius: 10px;

    cursor: pointer;
    transition: all .2s ease;
    &:hover {
        // padding: 16px;
        @include shadowSuccess;
    }

    &_small {
        padding: 4px 18px;
        @include btnSmall;
        &:hover {
            // padding: 4px 18px;
        }
    }

    &_sec {
        color: $bodyText;
        border-color: $bodyText;
        background-color: transparent;
        &:hover {
            color: $accent;
            border-color: $accent;
            box-shadow: none
        }
    }
}