.calculator {
    box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
    border-radius: 8px;
    padding: 60px 100px;
    text-align: center;
    @include media-q('lg') {
        padding: 50px 72px;
    }
    @include media-q('sm') {
        padding: 22px 10px 42px;
    }
    &-wrapp {
        @include push-auto;
        max-width: 1260px;
        padding: 44px 40px;
        @include media-q('lg') {
            padding: 0;
        }
    }
    &__desc {
        @include media-q('lg') {
            margin-bottom: 24px;
        }
    }
    &-form {
        @include flex-box;
        @include media-q('lg') {
            flex-direction: column;
        }
    }
    &__fields {
        @include flex-box(center);
        flex-wrap: wrap;
        @include media-q('lg') {
            margin-right: -20px;
        }
    }
    &__field {
        position: relative;
        margin: 25px 20px 5px 0;
        flex-basis: calc(100% / 4 - 20px);

        // border: 1px solid transparent;
        // box-shadow: 0px 1px 3px rgba(5, 41, 83, 0.14);
        // background-color: $bg;
        // border-radius: 10px;

        cursor: pointer;

        @include media-q('md') {
            flex-basis: calc(100% / 2 - 20px);
            margin: 16px 20px 0 0;
        }
        @include media-q('xs') {
            flex-basis: calc(100% - 20px);
        }
        
        input {
            width: 100%;
            border: none;
            background-color: transparent;

            padding: 10px 20px;
            color: $title;


            &::placeholder{
                color: $title;
            }
            &::-ms-input-placeholder {
                color: $title;
            }
            &::-ms-input-placeholder {
                color: $title;
            }
        }

        .ts-input {
            @extend .layer;
            &.input-active {
                border-color: $accent;
                box-shadow: none;
            }
        }

        .ts-dropdown {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            z-index: 2;
            padding: 24px;

            border: 1px solid transparent;
            box-shadow: 0px 1px 3px rgba(5, 41, 83, 0.14);
            background-color: $bg;
            border-radius: 10px;
            .option {
                text-align: start;
                border-radius: 10px;
                color: $title;
                padding: 10px 8px 6px;
                cursor: pointer;
                &:hover, &:focus {
                    color: $accent;
                    background-color: $pink;
                }
            }
        }

        .ts-input {
            &:after {
                @include pseudo;
                right: 22px;
                top: 50%;
                transform: translateY(-50%) scale(-1, -1);
                background-image: url('../images/arrow-big.svg');
                background-size: contain;
                width: 10px;
                height: 6px;
            }
        }
        
        .items {
            @include flex-box(center)
        }
        .item {
            flex-shrink: 0;
            color: $title;
            padding: 10px 20px;
            margin-right: 10px;
        }
    }
    &__count {
        @extend .layer;
        position: relative;
        // padding: 10px 20px;
        &-input {
            text-align: center;
        }
        &-minus, &-plus {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border: none;
            background-color: transparent;
            color: $title;
            transition: .2s ease;
            font-size: 20px;
            font-weight: 700;
            &:hover {
                color: $accent;
            }
        }
        &-minus {
            left: 22px;
        }
        &-plus {
            right: 22px;
        }
    }
    &__city, &__delivery {
        flex-basis: calc(100% / 2 - 20px);
    }

    &__datepicker {
        @extend .layer;
        .qs {
            &-datepicker {
                &-container {
                    top: calc(100% + 24px) !important;
                    padding: 10px;
                    background-color: $bg;
                    border: none;
                    border-radius: 10px;
                    font-size: 1.4rem;
                    box-shadow: 0px 1px 3px rgba(5, 41, 83, 0.14);
                }
            }
            &-controls {
                background-color: $bg;
            }
            &-overlay {
                background: rgba($color: $bg, $alpha: .75);
                input {
                    color: $title;
                }
            }
            &-submit {
                @extend .btn;
            }
            &-disabled {
                color: unset;
                border-color: unset;
            }
        }
    }
    &-submit {
        @include flex-box (center, space-between, column);
        &__value {
            @include h3;
            color: $accent;
            margin-top: 35px;
            @include media-q('lg') {
                margin: 0 70px;
            }
            @include media-q('xs') {
                margin-bottom: 28px;
            }
        }
        .btn {
            margin-bottom: 5px;
            @include media-q('lg') {
                margin-bottom: 0;
                width: 100%;
                max-width: 197px;
            }
            @include media-q('xs') {
                max-width: none;
            }
        }
        @include media-q('lg') {
            flex-direction: row;
            justify-content: center;
            margin-top: 25px;
        }
        @include media-q('xs') {
            flex-direction: column;
        }
    }
}

.layer {
    border: 1px solid transparent;
    box-shadow: 0px 1px 3px rgba(5, 41, 83, 0.14);
    background-color: $bg;
    border-radius: 10px;
    transition: box-shadow .2s ease;
    &:hover {
        box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.05);
    }
}