@font-face {
    font-family: 'Epilogue';
    src: url('../fonts/Epilogue-Regular.eot');
    src: local('Epilogue Regular'), local('Epilogue-Regular'),
        url('../fonts/Epilogue-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Epilogue-Regular.woff2') format('woff2'),
        url('../fonts/Epilogue-Regular.woff') format('woff'),
        url('../fonts/Epilogue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Epilogue';
    src: url('../fonts/Epilogue-Bold.eot');
    src: local('Epilogue Bold'), local('Epilogue-Bold'),
        url('../fonts/Epilogue-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Epilogue-Bold.woff2') format('woff2'),
        url('../fonts/Epilogue-Bold.woff') format('woff'),
        url('../fonts/Epilogue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.eot');
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.eot');
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff'),
        url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}