.section {
    &__content {
        @include flex-box(center);
        @include media-q('lg') {
            flex-direction: column;
        }
    }
    &__main-text {
        flex-shrink: 0;
        @include media-q('lg') {
            max-width: none !important;
        }
        p {
            margin: 20px 0 30px;
        }
    }
    &__img {
        &-bg {
            z-index: -1;
        }
    }

    &-card {
        position: relative;
        width: 100%;
        max-width: 380px;
        background: $white;
        padding: 30px 28px 20px;
        box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
        border-radius: 8px;
        &__head {
            @include flex-box(center);
            margin-bottom: 10px;
        }
        &__icon {
            @include flex-box(center, center);
            width: 60px;
            height: 60px;
            background-color: $pink;
            border-radius: 50%;
            margin-right: 10px;
        }
        &__name {
            font-family: $epilogue;
            color: $title;
            font-weight: 700;
        }
        &__text {
            @include pSmall;
        }
    }
    
    &_1 {
        padding: 200px 0 240px;
        @include media-q('lg') {
            padding: 85px 0 50px;
        }
        @include media-q('xs') {
            padding: 50px 0 50px;
        }

        .btn {
            max-width: 280px;
            @include media-q('xs') {
                max-width: none;
            }
        }
    }
    
    &_1 & {
        &__main-text {
            max-width: 600px;
        }

        &__img {
            position: absolute;
            left: -102px;
            @include media-q('lg') {
                left: initial;
                position: relative;
                max-width: 87%;
            }
            @include media-q('xs') {
                min-width: 100%;
            }
            &-block {
                @include flex-box(center, center);
                position: relative;
                width: 100%;
                @include media-q('lg') {
                    margin-top: 14px;
                }
            }
            &-bg {
                position: absolute;
                left: 0;
                @include media-q('lg') {
                    top: 22px;
                    left: 50%;
                    transform: translateX(-50%);
                    max-width: 67%;
                }
                @include media-q('xs') {
                    max-width: 77%;
                }
            }
        }
    }

    &_2 {
        padding: 148px 0 228px;
        @include media-q('lg') {
            padding: 50px 0 173px;
        }
        @include media-q('xs') {
            padding: 46px 0 60px;
        }
        .btn {
            max-width: 180px;
            @include media-q('xs') {
                max-width: none;
            }
        }
    }

    &_2 & {
        &__main-text {
            max-width: 585px;
        }

        &-card {
            transform: translateY(70%);
            @include media-q('lg') {
                transform: none;
                margin-top: 136px;
            }
            @include media-q('xs') {
                margin-top: 172px;
            }
        }

        &__img {
            position: absolute;
            right: 34px;
            @include media-q('lg') {
                right: 50%;
                top: 0;
                max-width: 100%;
                transform: translateX(32%);
            }
            @include media-q('xs') {
                top: 13px;
                transform: translateX(50%);
            }
            &-block {
                @include flex-box(center, center);
                position: relative;
                width: 100%;
                @include media-q('lg') {
                    justify-content: flex-end;
                    order: 1;
                }
            }
            &-bg {
                position: absolute;
                right: 22px;
                @include media-q('lg') {
                    right: 50%;
                    top: 26px;
                    max-width: 88%;
                    transform: translateX(20%);
                }
                @include media-q('xs') {
                    top: 19px;
                    max-width: 120%;
                    transform: translateX(56%);
                }
            }
        }
    }

    &_3 {
        padding: 90px 0 30px;
        @include media-q('lg') {
            padding: 20px 0 40px;
        }
        @include media-q('xs') {
            padding: 20px 0 50px;
        }
    }
    
    &_3 & {
        &__main-text {
            max-width: 582px;
            p {
                margin-bottom: 0;
            }
        }

        &__img {
            position: absolute;
            left: 66px;
            @include media-q('lg') {
                left: initial;
                position: relative;
                max-width: 76%;
            }
            @include media-q('xs') {
                min-width: 85%;
                margin-top: 16px;
            }
            &-block {
                @include flex-box(center, center);
                position: relative;
                width: 100%;
                
            }
            &-bg {
                position: absolute;
                left: 131px;
                @include media-q('lg') {
                    top: 22px;
                    left: 50%;
                    transform: translateX(-50%);
                    max-width: 64%;
                }
                @include media-q('xs') {
                    max-width: 78%;
                    left: 58px;
                    transform: none;
                }
            }
        }
        &__slide-content {
            margin-top: 95px;
            max-width: 980px;
            @include push-auto;
            @include media-q('lg') {
                margin-top: 24px;
                max-width: none;
                padding: 0 40px;
            }
            @include media-q('xs') {
                padding: 0 10px;
            }
            .slide-content {
                &__text {
                    margin-top: 15px;
                }
            }
        }
    }
    &_4 {
        padding: 143px 0 126px;
        @include media-q('lg') {
            padding: 20px 0 40px;
        }
        @include media-q('xs') {
            padding: 0 0 50px;
        }
    }
    
    &_4 & {
        &__main-text {
            max-width: 580px;
            ul {
                list-style: none;
                margin: 20px 0;
                li {
                    position: relative;
                    padding-left: 30px;
                    &:before {
                        @include pseudo;
                        left: 0;
                        top: 10px;
                        width: 10px;
                        height: 10px;
                        background-color: $title;
                        border-radius: 50%;
                    }
                }
            }
        }

        &__img {
            position: absolute;
            right: 46px;
            @include media-q('lg') {
                right: unset;
                position: relative;
                max-width: 70%;
                margin-bottom: 92px;
            }
            @include media-q('xs') {
                min-width: 113%;
                margin-top: 16px;
                margin-bottom: 50px;
            }
            &-block {
                @include flex-box(center, center);
                position: relative;
                width: 100%;
                
            }
            &-bg {
                position: absolute;
                right: -10px;
                @include media-q('lg') {
                    bottom: -8px;
                    left: 50%;
                    transform: translateX(-50%);
                    max-width: 80%;
                }
                @include media-q('xs') {
                    bottom: -4px;
                    max-width: 123%;
                    left: -24px;
                    transform: none;
                }
            }
        }
    }
    &_5 {
        padding: 165px 0 90px;
        @include media-q('lg') {
            padding: 10px 0 50px;
        }
        @include media-q('xs') {
            padding: 30px 0 50px;
        }
    }
    
    &_5 & {
        &__main-text {
            max-width: 580px;
        }

        &__img {
            position: absolute;
            left: 84px;
            transform: translateY(-50px);
            @include media-q('lg') {
                left: initial;
                position: relative;
                max-width: 66%;
                transform: none;
            }
            @include media-q('xs') {
                min-width: 95%;
            }
            &-block {
                @include flex-box(center, center);
                position: relative;
                width: 100%;
                @include media-q('lg') {
                    order: -1;
                    margin-bottom: 100px;
                    @include media-q('xs') {
                        margin-bottom: 66px;
                    }
                }
            }
            &-bg {
                position: absolute;
                left: 32px;
                @include media-q('lg') {
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    max-width: 65%;
                }
                @include media-q('xs') {
                    max-width: 100%;
                }
            }
        }
        &__bottom {
            @include flex-box(false, space-between);
            margin-top: 140px;
            @include media-q('lg') {
                flex-direction: column;
                margin-top: 40px;
            }
            .section-card {
                position: relative;
                flex-shrink: 0;
                margin-left: 100px;
                @include media-q('lg') {
                    margin-left: 62px;
                }
                @include media-q('xs') {
                    margin-left: 0;
                }
                &__bg {
                    position: absolute;
                    top: -6px;
                    right: 0;
                    z-index: -1;
                    @include media-q('lg') {
                        top: -36px;
                    }
                    @include media-q('xs') {
                        max-width: 100%;
                    }
                }
            }
            &-text {
                max-width: 580px;
                margin-top: 30px;
                @include media-q('lg') {
                    margin-top: 40px;
                    max-width: none;
                }
            }
        }
    }
}