.slide-content {
    @include flex-box(false, space-between);
    @include media-q('lg') {
        flex-direction: column;
    }
    &__list {
        @include media-q('md') {
            margin: 10px 0 15px;
        }
        list-style: none;
        margin-right: 30px;
        @include media-q('lg') {
            @include flex-box(center);
            overflow: auto;
            margin-right: -40px;
            @include media-q('xs') {
                margin-right: -10px;
            }
        }
        &-item {
            position: relative;
            padding: 15px 0 15px 50px;
            @include h4;
            color: $bodyText;

            cursor: pointer;
            transition: all .2s ease;

            @include media-q('md') {
                @include pSmall;
            }
            @include media-q('xs') {
                font-size: 14px;
            }

            &:before {
                @include pseudo;
                left: 0;
                top: 50%;
                transform: translateY(-50%);

                height: 1px;
                width: 20px;
                background-color: $bodyText;
                border-radius: 40px;

                transition: all .2s ease;
            }
            &:hover {
                @include h3;
                color: $accent;
                &:before {
                    width: 40px;
                    background-color: $accent;
                }
            }
            &.active {
                @include h3;
                color: $accent;
                @include media-q('xs') {
                    @include h4;
                    color: $accent;
                }
                &:before {
                    width: 40px;
                    background-color: $accent;
                }
            }

            @include media-q('lg') {
                flex-shrink: 0;
                padding-left: 0;
                padding-right: 30px;
                &:before {
                    content: none;
                }
            }
        }
    }
    &__text {
        display: none;
        max-width: 480px;
        @include media-q('lg') {
            max-width: none;
        }
        &.active {
            display: block;
        }
        ul, ol {
            margin: 20px 0;
            list-style-type: none;
            counter-reset: num;
            li {
                &:not(:first-child) {
                    padding-top: 20px;
                }
                &:before {
                    content: counter(num) '. ';
                    counter-increment: num;
                    color: $accent;
                    font-weight: 700;
                }
            }
        }
        strong {
            color: $accent;
        }
    }
}