@import 'libs/datepicker';
@import 'libs/swiper';

@import 'reset';
@import 'vars';
@import 'fonts';
@import 'buttons';
@import 'header';
@import 'sections';
@import 'calculator';
@import 'steps';
@import 'reviews';
@import 'faq';
@import 'footer';


* {
    color: $bodyText;
    @include pMiddle;
    -webkit-tap-highlight-color: transparent;
}

body {
    z-index: 1;
}

h1 {
    @include h1;
}
h2 {
    @include h2;
}
h3 {
    @include h3;
}
h4 {
    @include h4;
}

h1, h2 {
    @include media-q('xs') {
        @include h3;
    }
}

.container {
    @include push-auto;
    max-width: 1260px;
    padding: 0 40px;
    @include media-q('xs') {
        padding: 0 10px;
    }
}

.main {
    overflow: hidden;
}